﻿
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <span class="glyphicon glyphicon-remove clear-icon" id="toc_filter_clear"></span>
        <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
          
          <ul class="nav level1">
                <li>
                    <span class="expand-stub"></span>
                    <a href="MacacaGames.html" name="" title="MacacaGames">MacacaGames</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="MacacaGames.CM_APIController.html" name="" title="CM_APIController">CM_APIController</a>
                          </li>
                          <li>
                              <a href="MacacaGames.CM_APIController.AndroidPermission.html" name="" title="CM_APIController.AndroidPermission">CM_APIController.AndroidPermission</a>
                          </li>
                          <li>
                              <a href="MacacaGames.CM_APIController.AndroidPermissionState.html" name="" title="CM_APIController.AndroidPermissionState">CM_APIController.AndroidPermissionState</a>
                          </li>
                          <li>
                              <a href="MacacaGames.CM_APIController.ATTrackingManagerAuthorizationStatus.html" name="" title="CM_APIController.ATTrackingManagerAuthorizationStatus">CM_APIController.ATTrackingManagerAuthorizationStatus</a>
                          </li>
                          <li>
                              <a href="MacacaGames.CM_APIController.ShareType.html" name="" title="CM_APIController.ShareType">CM_APIController.ShareType</a>
                          </li>
                          <li>
                              <a href="MacacaGames.CM_LocalNotificationController.html" name="" title="CM_LocalNotificationController">CM_LocalNotificationController</a>
                          </li>
                          <li>
                              <a href="MacacaGames.CM_LocalNotificationController.Action.html" name="" title="CM_LocalNotificationController.Action">CM_LocalNotificationController.Action</a>
                          </li>
                          <li>
                              <a href="MacacaGames.CM_LocalNotificationController.Importance.html" name="" title="CM_LocalNotificationController.Importance">CM_LocalNotificationController.Importance</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="UnityEditor.iOS.Xcode.Custom.html" name="" title="UnityEditor.iOS.Xcode.Custom">UnityEditor.iOS.Xcode.Custom</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="UnityEditor.iOS.Xcode.Custom.BackgroundModesOptions.html" name="" title="BackgroundModesOptions">BackgroundModesOptions</a>
                          </li>
                          <li>
                              <a href="UnityEditor.iOS.Xcode.Custom.MapsOptions.html" name="" title="MapsOptions">MapsOptions</a>
                          </li>
                          <li>
                              <a href="UnityEditor.iOS.Xcode.Custom.PBXCapabilityType.html" name="" title="PBXCapabilityType">PBXCapabilityType</a>
                          </li>
                          <li>
                              <a href="UnityEditor.iOS.Xcode.Custom.PBXCapabilityType.TargetCapabilityPair.html" name="" title="PBXCapabilityType.TargetCapabilityPair">PBXCapabilityType.TargetCapabilityPair</a>
                          </li>
                          <li>
                              <a href="UnityEditor.iOS.Xcode.Custom.PBXProject.html" name="" title="PBXProject">PBXProject</a>
                          </li>
                          <li>
                              <a href="UnityEditor.iOS.Xcode.Custom.PBXSourceTree.html" name="" title="PBXSourceTree">PBXSourceTree</a>
                          </li>
                          <li>
                              <a href="UnityEditor.iOS.Xcode.Custom.PlistDocument.html" name="" title="PlistDocument">PlistDocument</a>
                          </li>
                          <li>
                              <a href="UnityEditor.iOS.Xcode.Custom.PlistElement.html" name="" title="PlistElement">PlistElement</a>
                          </li>
                          <li>
                              <a href="UnityEditor.iOS.Xcode.Custom.PlistElementArray.html" name="" title="PlistElementArray">PlistElementArray</a>
                          </li>
                          <li>
                              <a href="UnityEditor.iOS.Xcode.Custom.PlistElementBoolean.html" name="" title="PlistElementBoolean">PlistElementBoolean</a>
                          </li>
                          <li>
                              <a href="UnityEditor.iOS.Xcode.Custom.PlistElementDate.html" name="" title="PlistElementDate">PlistElementDate</a>
                          </li>
                          <li>
                              <a href="UnityEditor.iOS.Xcode.Custom.PlistElementDict.html" name="" title="PlistElementDict">PlistElementDict</a>
                          </li>
                          <li>
                              <a href="UnityEditor.iOS.Xcode.Custom.PlistElementInteger.html" name="" title="PlistElementInteger">PlistElementInteger</a>
                          </li>
                          <li>
                              <a href="UnityEditor.iOS.Xcode.Custom.PlistElementReal.html" name="" title="PlistElementReal">PlistElementReal</a>
                          </li>
                          <li>
                              <a href="UnityEditor.iOS.Xcode.Custom.PlistElementString.html" name="" title="PlistElementString">PlistElementString</a>
                          </li>
                          <li>
                              <a href="UnityEditor.iOS.Xcode.Custom.ProjectCapabilityManager.html" name="" title="ProjectCapabilityManager">ProjectCapabilityManager</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="UnityEditor.iOS.Xcode.Custom.Extensions.html" name="" title="UnityEditor.iOS.Xcode.Custom.Extensions">UnityEditor.iOS.Xcode.Custom.Extensions</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="UnityEditor.iOS.Xcode.Custom.Extensions.PBXProjectExtensions.html" name="" title="PBXProjectExtensions">PBXProjectExtensions</a>
                          </li>
                    </ul>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>